<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campusfavour.mapper.UserMapper">
    <sql id="fields">
        id,
        userAccount,
        password,
        userName,
        phone,
        stuNumber,
        createTime,
        taskCount,
        taskCountMonth,
        releaseCount,
        creditScore
    </sql>

    <select id="selectUserIdList" resultType="Map">
        select id,creditScore
        from user
    </select>

    <select id="getUserByUserAccount" parameterType="String" resultType="com.campusfavour.entity.User">
        select
        <include refid="fields" />
        from `user`
        where userAccount = #{userAccount}
    </select>

    <select id="selectTaskCountRanking" resultType="com.campusfavour.entity.User">
        select userAccount,taskCount
        from `user`
        order by  taskCount
        Desc
    </select>

    <select id="selectTaskCountMonthRanking" resultType="com.campusfavour.entity.User">
        select userAccount,taskCountMonth
        from `user`
        order by  taskCountMonth
        Desc
    </select>

    <update id="countMonthTask">
        update `user`
        set taskCountMonth = 0
    </update>

    <update id="creditScoreTask"  parameterType="Map">
        update user set creditScore = #{creditScore}
        where id = #{id}
    </update>
</mapper>
