<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campusfavour.mapper.UserMapper">
    <sql id="fields">
        id,
        userName,
        password,
        name,
        phone,
        stuNumber,
        createTime,
        taskCount,
        taskCountMonth,
        releaseCount,
        creditScore
    </sql>
    <sql id="registerUser">
        userName,
        password,
        name,
        phone,
        stuNumber,
        createTime
    </sql>

    <select id="selectUserIdList" resultType="Map">
        select id,creditScore
        from user
    </select>

    <select id="getUserByUserName" parameterType="String" resultType="com.campusfavour.entity.User">
        select
        <include refid="fields" />
        from `user`
        where userName = #{userName}
    </select>

    <select id="selectTaskCountRanking" resultType="com.campusfavour.entity.User">
        select userName,taskCount
        from `user`
        order by  taskCount
        Desc
    </select>

    <select id="selectTaskCountMonthRanking" resultType="com.campusfavour.entity.User">
        select userName,taskCountMonth
        from `user`
        order by  taskCountMonth
        Desc
    </select>

    <update id="countMonthTask">
        update `user`
        set taskCountMonth = 0
    </update>

    <update id="creditScoreTask"  parameterType="Map">
        update user set creditScore = #{creditScore}
        where id = #{id}
    </update>

    <insert id="registerUser">
        insert into `user`(
        <include refid="registerUser"></include>
        )
        values (
        #{userName},
        #{password},
        #{name},
        #{phone},
        #{stuNumber},
        #{createTime}
        )
    </insert>
</mapper>
